

h1, h3, h4 {

    text-align: center;
    width:100%;
}


.box {

    background-color: rgb(169, 209, 237);

    position: relative;
align-items: left;
    border: 3px solid rgb(37, 37, 37);
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(248, 248, 243);
    font-style: var(--regular-text);
    flex-direction: column;
    display: flex;

}

.section-container {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 400px;
    height: auto;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

row {
position: absolute;
    width:auto;
}

.mb3, .storedCity, #submitButton, #searchCity {
    padding: 10px;
    width: 80%;
    align-content: top
    flex-direction: row;

}

#submitButton{

    background-color: aquamarine;
}

